body{
    text-align: center;
    align-items: center;
}
div{
    width: 40rem;
    margin-left:auto;
    margin-right: auto;
    background-color: blue;
    padding: 3rem;
    border: 10px solid black;
}