h1 {
    text-align: center;
    background-color: cornflowerblue;
    color: bisque;
    margin-top: 100px;
    padding: 32px 32px;
}
.sum {
    text-align: center;
    background-color: cornflowerblue;
    color: bisque;
    margin-top: 100px;
    padding: 32px 32px;
}