.Loan_calcualtor{
    width: 400px;
    height: 550px;
    background-color: royalblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 0px 0px 100px;
    border-radius: 10px;
    color: white;
 }
 p{
    color: brown;
    font-size: 25px;
    font-family: sans-serif;
 }
 h1{
    color: royalblue;
 }
 input{
    height: 33px;
    width: 70%;
    background-color: brown;
    font-size: 20px;
    color: white;
    padding: 7px;
 }
 #calculate_op{
    color: white;
    font-size: 20px;
    width: 100px;
    align-content: center;
    margin-left:100px;
    cursor: pointer;
 }